/* CSS declarations go here */
html {
	position: relative;
	min-height: 100%;
}
a {
	color: black;
}
body {
	padding-top:60px;
	margin-bottom: 60px;
}
.navbar {
	background-color: lightgrey;
}
.jumbotron1 {
	margin-bottom: 10px;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: lightgrey;
}
.hidden_div {
	display:none;
}
.url_item_out {
	height: 270px;
	padding: 10px 10px;
}
.url_item_in {
	height: 250px;
}
.item_recs {
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 16px;
}
.item_recs:hover::before {
	content: "Recommend to ";
}
.item_recs::after {
	content: "TRY";
}
.item_head {
	height: 45px;
	text-align: center;
	text-overflow: ellipsis;
}

.item_description {
	height: 105px;
	text-align: justify;
	text-overflow: ellipsis;
}
.item_controls {
	margin-top: 5px;
}
.url_item_in,
.item_head,
.item_description,
.item_created {
	overflow: hidden;
}
.item_description_full {
	min-height: 200px;
}
.comments {
	margin-top: 10px;
	margin-bottom: 40px;
}

/* Login cheats */
.navbar-collapse.in {
	overflow-y: visible;
}
#login-buttons{
	display: block;
}
#login-dropdown-list {
	left: auto;
	right: -1px;
}
@media (max-width: 768px) {
	#login-dropdown-list {
		width: 100%;
		right: 0 !important;
		left: 0 !important;
		position: absolute;
		margin-left: 0px;
	}
}
