<template name="help">
	<h4>Assignment: Build a social website aggregator</h4>
	<ol>
		<li>
			<div class="panel panel-success">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Users can register and login.
				</div>
				<div class="panel-body">
					You can see login form in top right corner on navbar.
					After register and login observe some changes.
				</div>
			</div>
		</li>
		<li>
			<div class="panel panel-success">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Users can post new websites if they are logged in. Websites posted by users should have an URL and a description.
				</div>
				<div class="panel-body">
					After login you can click on "+Add new URL!" button and add new URL, which appear at end of list.
				</div>
			</div>
		</li>
		<li>
			<div class="panel panel-success">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Users can up and down vote webpages by clicking a plus or a minus button.
				</div>
				<div class="panel-body">
					Try click green and red buttons to vote up and down URLs.
				</div>
			</div>
		</li>
		<li>
			<div class="panel panel-success">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Websites should be listed with the most up voted site first.
				</div>
				<div class="panel-body">
					Observe positions of URLs, when you vote it up.
				</div>
			</div>
		</li>
		<li>
			<div class="panel panel-success">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					The listing page shows when the website was added and how many up and down votes it has.
				</div>
				<div class="panel-body">
					Each URL content all info about votes, dates, creators.
				</div>
			</div>
		</li>
		<li>
			<div class="panel panel-success">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Users can move to a detail page for a website (using routing).
				</div>
				<div class="panel-body">
					Click on blue button in URL block for moving to detail page.
				</div>
			</div>
		</li>
		<li>
			<div class="panel panel-success">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					On the detail page, users can post comments about a webpage, and they are displayed below the description of the webpage.
				</div>
				<div class="panel-body">
					On the detail page you can see and add comments. Also you can move to next URL.
				</div>
			</div>
		</li>
	</ol>
	
	<h4>Challenges</h4>
	<div class="panel panel-success">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			Challenge 1: Automatic information
		</div>
		<div class="panel-body">
			When you add new URL - input new link and click in any place. If it's possible, you will see additional info about link. If link broken - you'll see red border on it.
		</div>
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			Challenge 2: Search function
		</div>
		<div class="panel-body">
			You can search URLs on site. Input words in search field at navbar and click glass button or enter. To dimiss results - click red button. 
		</div>
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			Challenge 3: Website recommender
		</div>
		<div class="panel-body">
			When you voted up any URL, recommend badges appear above URLs that have similar content.
		</div>
	</div>
</template>