<template name="website_item">
	<div class="url_item_out col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<div class="url_item_in panel panel-primary">
			{{#if recommends}}<span class="item_recs label label-warning"> </span>{{/if}}
			<div class="panel-heading item_head">
				<h4 class="panel-title">
					<a href="{{url}}" target="_blank" title="visit URL"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>
					{{title}}
					</a>
				</h4>
			</div>
			<div class="panel-body item_description">
				{{description}}
			</div>
			<div class="panel-footer">
				Created on: {{prettyDate createdOn}}
				<br> by: <b>{{getUser item.createdBy}}</b>
				<div class="item_controls btn-group btn-group-justified" role="group" aria-label="controls">
					<a href="#" class="btn btn-success js-upvote {{upEnabled}} {{isEnabled}}" title="click to vote up">
						<span class="badge">{{upVoted}}</span>
						<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
					</a>
					<a href="#" class="btn btn-danger js-downvote {{downEnabled}} {{isEnabled}}" title="click to vote down">
						<span class="badge">{{downVoted}}</span>
						<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
					</a>
					<a href="/url/{{_id}}" class="btn btn-info" title="visit detail page">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</template>